* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-family: 'Inter', sans-serif;
  
  }

  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(1,254,84,255);
    width: 100%;
    height: 100px;
  }
  .list-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    place-items: center;
    list-style: none;
  }

  .rectangle-list{
    width: 120px;
    height: 30px;
    background-color: #019a4a;
  }

  .circle{
    width: 50px;
    height: 50px;
    background-color: #019a4a;
    border-radius: 50%;
  }
  .container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin:50px ;
  }
  .card-aside{
    height: 400px;
    width: 250px;
    background-color: #4e4e4f;
    border-radius: 10px;
    grid-column: 1;
    grid-row: 1/3 ; 
  }


  .card{
    width: 350px;
    height: 190px;
    background-color: red;
    border-radius: 10px;
  }

  #yellow{
    background-color: #f8c920;
    grid-column: 2;
    grid-row: 1;
  }
  #orange{
    background-color: #fa8d37;
    grid-column: 3;
    grid-row: 1;
  }
  #red{
    background-color: #ff4950;
    grid-column: 2;
    grid-row: 2;
  }
  #purple{
    background-color: #c862df;
    grid-column: 3;
    grid-row: 2;
  }

  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(1,254,84,255);
    width: 100%;
    height: 30vh;
    max-height: 100%;
  }

  .circle-footer{
    width: 100px;
    height: 100px;
    background-color: #019a4a;
    border-radius: 50%;
  }

  .text-box{
    width: 20%;
    height: 30px;
    background-color: #019a4a;
  }

  .circle-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;


  }